/* Estilos para o cabeçalho */
header {
    background-color: #151C48;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .container {    
    margin: 0 auto;
    padding: 0 20px;
  }
  
.market-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
}

.market-nav-content h1 {
    margin: 0;    
    font-weight: 700;
    font-size: 24px;
}

.market-contact-container {
    display: flex;
    align-items: center;    
}

.market-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.market-nav-content img {
    display: flex;
    justify-content: flex-start;
    fill: white;
}


