@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
  --color-primary: #04f7f7;
  --color-secundary: #151C48;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

html, body {
    background-color: #DFDFDF;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
