.btn-wpp {
    margin: 8px 0;
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 0;

    &:hover {
        background-color: rgb(6, 165, 6);
    }
}

.card-container {
    margin: 5px 5px 5px 5px;
    box-shadow: 0px 17px 30px -19px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 17px 30px -19px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 17px 30px -19px rgba(0, 0, 0, 0.54);
    margin-top: 5rem;      
}